.first-col{
  color:blue;
  border-color:black;
}
.sec-col{
  color:black;
  border-color:black;
}
tr:nth-of-type(2){
  background-color:lightblue
}
tr:nth-of-type(4){
  background-color:lightblue
}
tr:nth-of-type(3){
  background-color:lightgrey
}
tr:nth-of-type(5){
  background-color:lightgrey
}
tbody>tr:nth-of-type(1){
  background-color: lightgrey;
}
.third-col{
  color:maroon;
  border-color:black;
}
.fourth-col{
  color:darkgreen;
  border-color:black;
}
.fifth-col{
  color:black;
  border-color:black;
}
table{
  border-style:solid;
}
th{
  border-style:solid;
}
td{
  border-style:solid;
}
td{
  text-align:right;
}
tr>td{
  text-align:left;
}
em>span{
  font-weight:normal;
}
dl+.outer-content{
  margin-top:20px; 
}
.outer-content{
  background-color:lightpink;
  position:relative;
  left:0;
  width:75%;
  height:50px;
}
.inner-content{
  text-align:center;
  background-color:rgb(14, 189, 248);
  position:relative;
  width:75%;
  margin:auto;
  top:50%;
  transform: translateY(-50%)
}
fieldset > fieldset{
  margin-top:10px;
  margin-bottom:10px;
}
input[type ="radio"]{
  margin-top:10px;
  margin-bottom:10px;
}
form{
  margin-top:20px;
  margin-bottom:20px;
}
input[type ="submit"]{
  margin-top:10px;
}
